# Django
SECRET_KEY=your-secret-key-here
DEBUG=False
DJANGO_ENVIRONMENT="production"

# PostgreSQL
DB_NAME=patchnotify
DB_USER=patchuser
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432

# Slack
SLACK_BOT_TOKEN = ""
SLACK_SIGNING_SECRET = ""