<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        {% include 'partials/logo.html'  %}
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="icon-base bx bx-chevron-left icon-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Dashboards</span>
    </li>
    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="{% url 'index' %}" class="menu-link">
        <i class="menu-icon icon-base bx bx-home-smile"></i>
        <div class="text-truncate">Dashboards</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Patch Notes</span>
    </li>
    {% for solution in side_solutions %}
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="{{ solution.name }}">{{ solution.name }}</div>
      </a>
      <ul class="menu-sub">
        {% for product in solution.products.all %}
        <li class="menu-item {% if product.id in request.path %}active{% endif %}">
          <a href="{% url 'patchnote:product_patch_detail' product.id %}" class="menu-link">
            <div class="text-truncate">
              {{ product.get_platform_display }} {{ product.get_category_display }}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Notification</span>
    </li>
    <li class="menu-item">
      <a href="{% url 'notification:official_notice' %}" class="menu-link">
        <i class="menu-icon icon-base bx bx-collection"></i>
        <div class="text-truncate">Official Notice</div>
      </a>
    </li>
    <li class="menu-item {% if '/cards/basic/' in request.path %}active{% endif %}">
      <a href="{% url 'cards-basic' %}" class="menu-link">
        <i class="menu-icon icon-base bx bx-collection"></i>
        <div class="text-truncate">Subscribers</div>
      </a>
    </li>
    <li class="menu-item {% if '/cards/basic/' in request.path %}active{% endif %}">
      <a href="{% url 'cards-basic' %}" class="menu-link">
        <i class="menu-icon icon-base bx bx-collection"></i>
        <div class="text-truncate">Logs</div>
      </a>
    </li>
  </ul>


</aside>
