<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="overflow: hidden !important;">
    {% if not navbar_full %}
        <div class="app-brand demo" style="padding-top: 1.2rem; position: relative; z-index: 4; background-color: inherit; flex-shrink: 0;">
            <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        {% include 'partials/logo.html' %}
      </span>
                <span class="app-brand-text demo menu-text fw-bold ms-2">{% get_theme_variables 'template_name' %}</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="icon-base bx bx-chevron-left icon-sm d-flex align-items-center justify-content-center"></i>
            </a>
        </div>
    {% endif %}

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1" style="flex: 1 1 0 !important; min-height: 0 !important;">

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Dashboards</span>
        </li>
        <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashboard/' in request.path %}active open{% endif %}">
            <a href="{% url 'index' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-home-smile"></i>
                <div class="text-truncate">Dashboards</div>
            </a>
        </li>

        {% if user_role == 'admin' or user_role == 'manager' %}
        <li class="menu-item {% if 'product/management' in request.path %}active open{% endif %}">
            <a href="{% url 'product:product_management' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-cube-alt"></i>
                <div class="text-truncate">Product Management</div>
            </a>
        </li>
        {% if MY_SETTING.NOTION_ENABLED %}
        <li class="menu-item {% if '/notion/' in request.path %}active open{% endif %}">
            <a href="{% url 'notion:notion_management' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-link"></i>
                <div class="text-truncate">Notion Integration</div>
            </a>
        </li>
        {% endif %}
        <li class="menu-item {% if '/slack/' in request.path %}active{% endif %}">
            <a href="{% url 'slack_app:slack_workspace_management' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-message-square-dots"></i>
                <div class="text-truncate">Slack Workspaces</div>
            </a>
        </li>
        {% endif %}

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Patch Notes</span>
        </li>
        {% for solution in side_solutions %}
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-collection"></i>
                    <div data-i18n="{{ solution.name }}">{{ solution.name }}</div>
                </a>
                <ul class="menu-sub">
                    {% for product in solution.products.all %}
                        <li class="menu-item {% if product.id in request.path %}active{% endif %}">
                            <a href="{% url 'patchnote:product_patch_detail' product.id %}" class="menu-link">
                                <div class="text-truncate">
                                    {{ product.get_platform_display }} {{ product.get_category_display }}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}

        {% if user_role != 'guest' %}
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Notification</span>
        </li>

        {% if user_role == 'admin' or user_role == 'manager' %}
        <li class="menu-item {% if 'official_notice' in request.path %}active{% endif %}">
            <a href="{% url 'notification:official_notice' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-mail-send"></i>
                <div class="text-truncate">Official Notice</div>
            </a>
        </li>
        {% endif %}

        {% if user_role == 'admin' or user_role == 'manager' or user_role == 'se' %}
        <li class="menu-item {% if '/customer/' in request.path %}active{% endif %}">
            <a href="{% url 'customer:customer_management' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-buildings"></i>
                <div class="text-truncate">Customer Management</div>
            </a>
        </li>
        <li class="menu-item {% if '/subscriber/' in request.path %}active{% endif %}">
            <a href="{% url 'subscriber:subscriber_management' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-bell"></i>
                <div class="text-truncate">Subscribers</div>
            </a>
        </li>
        <li class="menu-item {% if '/logs/' in request.path %}active{% endif %}">
            <a href="{% url 'logs:dispatch_log' %}" class="menu-link">
                <i class="menu-icon icon-base bx bx-list-check"></i>
                <div class="text-truncate">Logs</div>
            </a>
        </li>
        {% endif %}
        {% endif %}{# end user_role != 'guest' #}

    </ul>

</aside>
