{% load i18n %}
{% load static %}


<nav class="layout-navbar {{container_class}} navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  {% if not navbar_hide_toggle %}
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
      <i class="icon-base bx bx-menu icon-md"></i>
    </a>
  </div>
  {% endif %}
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="icon-base bx bx-search icon-22px"></i>
        <input type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." aria-label="Search...">
      </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <span class="avatar-initial rounded-circle bg-label-primary">
              {{ request.user.username|first|upper }}
            </span>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <div class="dropdown-item pe-none">
              <div class="d-flex align-items-center gap-2">
                <div class="avatar flex-shrink-0">
                  <span class="avatar-initial rounded-circle bg-label-primary">
                    {{ request.user.username|first|upper }}
                  </span>
                </div>
                <div>
                  <h6 class="mb-0">{{ request.user.username }}</h6>
                  <small class="text-body-secondary">{{ user_role|upper }}</small>
                </div>
              </div>
            </div>
          </li>
          <li><div class="dropdown-divider my-1"></div></li>
          <li>
            <form method="post" action="{% url 'auth-logout' %}">
              {% csrf_token %}
              <button type="submit" class="dropdown-item text-danger">
                <i class="icon-base bx bx-power-off icon-md me-3"></i>
                <span>Log Out</span>
              </button>
            </form>
          </li>
        </ul>
      </li>
      <!--/ User -->

    </ul>
  </div>
</nav>
